@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --textPrimary: #ffffff;
  --primaryStroke: #2a2a2a;
  --primaryBlue: #3b82f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-textPrimary: var(--textPrimary);
  --color-primaryStroke: var(--primaryStroke);
  --color-primaryBlue: var(--primaryBlue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --textPrimary: #ffffff;
    --primaryStroke: #2a2a2a;
    --primaryBlue: #3b82f6;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --textPrimary: #ffffff;
  --primaryStroke: #2a2a2a;
  --primaryBlue: #3b82f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
